#footer
  color #AABCD1
  font-size: 13px
  font-family: 'PingFang SC'
  text-align: center
  margin auto 0 0

  @media (max-width 575px)
    margin-bottom 20px

  @media (min-width 576px)
    margin-bottom 30px

  small
    margin-left 1em
