#header
  background-color: white
  height 66px
  box-shadow: 0 1px 6px #F2F4FC

  .container
    width: 1120px
    height 100%
    margin 0 auto
    display: flex
    justify-content: space-between
    align-items: center
