.intro
  margin 1rem auto 0
  padding 0 .25rem

  @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
    max-width: 828px
    width 100%

  @media (min-width $screen-md-min)
    max-width: 1112px
    width 100%
