.start-section
  position relative
  //display flex
  align-items: center
  min-height var(--content-height)

  @media (max-width 575px)
    --radius 212px

  @media (min-width 576px)
    --radius 254px
    margin auto 0

#go-button
  background: linear-gradient(to right top, #7975FF, #F95DFF);
  color white
  cursor: pointer
  font-size: 54px
  font-family: 'PingFang SC'
  text-transform: uppercase
  border none
  display: block
  border-radius 50%
  padding 0
  margin 0 auto
  position relative
  width var(--radius)
  height var(--radius)
  z-index: 2

  &:hover
    background: linear-gradient(to right top, #9890FF, #EE80FF)

  &:active
    background: linear-gradient(to right top, #625ECD, #C54BCE)

.spinner
  width: var(--radius)
  height: var(--radius)
  position absolute
  top 50%
  left 50%
  margin-top calc(var(--radius) / -2)
  margin-left: calc(var(--radius) / -2)
  pointer-events: none
  background: linear-gradient(to right top, #7975FF, #F95DFF);
  color white
  border-radius: 100%;
  animation: sk-scaleout 2s infinite ease-in-out;
  padding 2px
  z-index: 1

.spinner-inner
  background-color: #F5FAFE
  border-radius: 100%
  width: 100%
  height: 100%

.spinner-later
  animation-delay: .5s

@keyframes sk-scaleout
  0%
    -webkit-transform: scale(1);
    transform: scale(1);

  37.5%
    -webkit-transform: scale(1.3149606299);
    transform: scale(1.3149606299);
    opacity: 0;

  100%
    -webkit-transform: scale(1.3149606299);
    transform: scale(1.3149606299);
    opacity: 0;
