.clock
  background no-repeat url(../../assets/clock-bg.png) top right
  width 420px
  height 420px
  margin auto
  position: relative
  --speed: 0

.speed-number,
.speed-unit,
.clock-progress
  position absolute
  left 0
  width 100%
  text-align: center

.speed-number
  font-family: 'D-Din condensed'
  font-size: 58px
  top 168px

.speed-unit
  color #AABCD1
  top 229px

.clock-progress
  color #59556C
  top 348px

.clock-color
  background no-repeat url(../../assets/speed-color.png)
  background-size: contain
  position: absolute
  top 24px
  left 33px
  width: 354px
  height 312px
  -webkit-mask-image url(../../assets/mask.svg)
  transition: -webkit-mask-image .2s

.clock-pointer
  background no-repeat url(../../assets/pointer.png) top center
  position: absolute
  top 24px
  left 50%
  margin-left -6px
  width: 12px
  height 176px
  transition: transform .2s
  transform: rotate(calc(-135deg + (var(--speed) / 100 * 270deg)))
  transform-origin bottom center
