.test-items
  display: flex
  flex-wrap: wrap
  margin 0 auto

  .test-item-title
    margin-bottom: 9px
    line-height: 1.5

  .test-item-starts
    margin: 0
    display: flex

  @media (max-width $screen-xs-max)
    padding 0 15px

  @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
    max-width: 828px
    width 100%

  @media (min-width $screen-md-min)
    max-width: 1112px
    width 100%

.test-item
  background-color: white
  box-shadow: 0 1px 6px #F2F4FC
  display: flex
  flex-direction column
  margin 0
  padding 0 20px
  justify-content: center

  @media (max-width $screen-xs-max)
    border-radius: 9px
    font-size: 12px
    width calc((100vw - 30px - 10px) / 2)
    height 62px

    &:nth-child(2n)
      margin-left: 10px

    &:nth-child(n + 3)
      margin-top: 10px

  @media (min-width $screen-sm-min) and (max-width $screen-sm-max)
    border-radius: .75rem
    width: calc((100% - 24px * 2) / 3)
    height: 90px
    margin-right: 1.5rem

    &:nth-child(3n)
      margin-right: 0

    &:nth-child(n + 4)
      margin-top: 24px

  @media (min-width $screen-md-min)
    border-radius: 1rem
    width: calc((100% - 24px * 3) / 4)
    height: 6rem
    margin-right: 1.5rem

    &:nth-child(4n)
      margin-right: 0

    &:nth-child(n + 5)
      margin-top: 24px

  &.error
    opacity .5

.star
  background url(../../assets/star0.svg) no-repeat
  background-size: cover
  display: block
  transition: background .25s

  &.light
    background-image: url(../../assets/star1.svg)

  for n in 2..5
    &:nth-child({n})
      $delay = (n - 1) * 0.125s
      transition-delay: $delay

  @media (max-width 575px)
    width 12px
    height 12px

    + .star
      margin-left: 8px

  @media (min-width 576px)
    width 18px
    height 18px

    + .star
      margin-left: 12px
