.clock
  background no-repeat url(../../assets/clock-bg.svg)
  background-size: cover
  width var(--content-height)
  height var(--content-height)
  position: relative
  --speed: 0

  @media (max-width 575px)
   margin 0 auto

  @media (min-width 576px)
    margin auto

.speed-number,
.speed-unit,
.clock-progress
  position absolute
  left 0
  width 100%
  text-align: center

.speed-number
  font-family: 'D-Din condensed'

  @media (max-width 575px)
    font-size: 48px
    top 130px

  @media (min-width 576px)
    font-size: 58px
    top 168px

.speed-unit
  color #AABCD1
  top 229px

  @media (max-width 575px)
    font-size: 14px
    top 180px

  @media (min-width 576px)
    top 229px

.clock-progress
  color #59556C

  @media (max-width 575px)
    font-size: 14px
    top 260px

  @media (min-width 576px)
    top 348px

.clock-color
  background no-repeat url(../../assets/clock-full.svg)
  background-size: contain
  position: absolute
  -webkit-mask-image url(../../assets/mask.svg)
  -webkit-mask-size 100% auto
  transition: -webkit-mask-image .2s

  @media (max-width 575px)
    top 19px
    left 25px
    width: 270px
    height 238px

  @media (min-width 576px)
    top 33px
    left 33px
    width: 354px
    height 354px

.clock-pointer
  background no-repeat url(../../assets/pointer.svg) top center
  background-size: 100% auto
  position: absolute
  transition: transform .2s
  transform: rotate(calc(-135deg + (var(--speed) / 100 * 270deg)))
  transform-origin bottom center

  @media (max-width 575px)
    top 19px
    left 50%
    margin-left -5px
    width: 10px
    height 134px

  @media (min-width 576px)
    top 33px
    left 50%
    margin-left -6.5px
    width: 13px
    height 176px
