doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title FastTest
  body
    header#header
      .container
        a.navbar-brand(href="/")
          img(src=require('../assets/logo.png'))

        .lang English

    #ads

    h1 Test your network speed

    include start.pug
    include testing.pug
    include result.pug

    .test-items
      dl.test-item
        each testCase in cases
          dt= testCase.title
          dd
            span.star
            span.star
            span.star
            span.star
            span.star


    footer#footer © 2021 Fasttest. All Rights Reserved

    script(src="https://unpkg.com/axios@0.21.1/dist/axios.min.js", async)
