doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title FastTest
  body
    header#header
      .container
        a.navbar-brand(href="/")
          img(src=require('../assets/logo.png'))

        .lang English

    #ads

    h1 Test your network speed

    .start-button
      .spinner
        .spinner-inner
      .spinner.spinner-later
        .spinner-inner
      button#go-button go

    .test-items
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star
      dl.test-item
        dt Facebook JS SDK
        dd
          span.star
          span.star
          span.star
          span.star
          span.star



    footer#footer © 2021 Fasttest. All Rights Reserved
