html
  height: 100%

body
  display: flex
  flex-direction: column
  min-height 100%

#footer
  margin-top: auto
  line-height: 3

@import './icon.styl'
@import "~animate.css/source/_base.css"
@import "~animate.css/source/_vars.css"
@import "~animate.css/source/attention_seekers/flash.css"

.test-cases form
  display table-row !important
