@font-face
  font-display swap
  font-family 'D-Din Condensed'
  src url(../assets/d-din/D-DINCondensed.otf) format('opentype')

@font-face
  font-display swap
  font-weight bold
  font-family 'D-Din Condensed'
  src url(../assets/d-din/D-DINCondensed-Bold.otf) format('opentype')
