.bi
  background-color currentColor
  mask-size 1em
  mask-repeat no-repeat
  mask-position center

  &::before
    display inline-block
    content ''
    width 1em

for $icon in trash
  $path = '../../node_modules/bootstrap-icons/icons/' + $icon + '.svg'
  .bi-{$icon}
    mask-image url($path)
