@import "~normalize.css/normalize.css"
@import "~animate.css/source/_base.css"
@import "~animate.css/source/_vars.css"
@import "~animate.css/source/zooming_entrances/zoomIn.css"
@import "~animate.css/source/zooming_exits/zoomOut.css"

@import "variable.styl"
@import "font.styl"
@import 'framework/body.styl'
@import 'framework/header.styl'
@import 'framework/heading.styl'
@import 'framework/start-button.styl'
@import 'framework/testing.styl'
@import 'framework/result.styl'
@import 'framework/test-items.styl'
@import 'framework/footer.styl'
